.home {
    background-color: black;
    margin-top: -10px;
}

.tweets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-color: grey;
    border: 2px solid;

}

.tweets h1 {
    color: white;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: blue; /* Color del subrayado */
    text-underline-offset: 15px; /* Espacio entre el texto y el subrayado */
    text-decoration-thickness: 4px; /* Grosor del subrayado */
    border-color: grey;
}